* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('https://i.ibb.co/ssX7Jr0/teladefundo.png');
    color: #AF43AB;
    font-size: 10px;
}

.firstscreen h2 {
    font-family: 'Silkscreen', cursive;
    width: 300px;
    font-size: 18px;
    text-align: center;
}

#canvas {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://i.ibb.co/cy7dg6V/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


#start-screen {
    position: absolute;
    top: 10;
    left: 10;
    width: 800px;
    height: 550px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-between;
    background-repeat: no-repeat;
    z-index: 10;
}


#start-screen__player-one {
    font-family: 'Jost', sans-serif;
    font-weight: 600;
    color: #779623;
    font-size: 12px;
    width: 150px;
    height: 150px;
    border: 2px solid #EE242D;
    border-radius: 50%;
    cursor: pointer;
    background-color: #FFF679;
    border-color: #F4CC67;
}

#start-screen__player-one:hover {
    transform: scale(1.1);
    transition: all 0.5s;
    background-color: #F4CC67;
    border-color: #FFF679;
}

#start-screen__player-two {
    font-family: 'Jost', sans-serif;
    font-weight: 600;
    color: #CF5009;
    font-size: 12px;
    width: 150px;
    height: 150px;
    border: 2px solid #EE242D;
    border-radius: 50%;
    cursor: pointer;
    background-color: #FFF679;
    border-color: #F4CC67;
}

#start-screen__player-two:hover {
    transform: scale(1.1);
    transition: all 0.5s;
    background-color: #F4CC67;
    border-color: #FFF679;
}

#start-screen__player-three {
    font-family: 'Jost', sans-serif;
    font-weight: 600;
    color: #842c81;
    font-size: 12px;
    width: 150px;
    height: 150px;
    border: 2px solid #EE242D;
    border-radius: 50%;
    cursor: pointer;
    background-color: #FFF679;
    border-color: #F4CC67;
}

#start-screen__player-three:hover {
    transform: scale(1.1);
    transition: all 0.5s;
    background-color: #F4CC67;
    border-color: #FFF679;
}

.game-intro {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}

#start-button {
    font-family: 'Silkscreen', cursive;
    font-size: 18px;
    color: black;
    background-color: #FFF679;
    padding: 10px 20px;
    margin: 30px;
    border-radius: 10px;
    cursor: pointer;
}

#start-button:hover {
    background-color: #F4CC67;
    transform: scale(1.1);
    transition: all 0.5s;
}

.setas {
    width: 300px;
}

.firstscreen {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

#chooseplayer {
    position: fixed;
    margin-top: 60px;
    margin-left: 230px;
}

.hiddentxt {
    visibility: hidden;
}

#restart-game {
    font-family: 'Silkscreen', cursive;
    font-size: 20px;
    color: black;
    background-color: #FFF679;
    padding: 10px 20px;
    margin: 30px;
    border-radius: 10px;
    cursor: pointer;
    position: fixed;
    margin: 400px 0 0 330px;
}

#restart-game:hover {
    background-color: #F4CC67;
    transform: scale(1.1);
    transition: all 0.5s;
}

.hidden {
    visibility: hidden;
}

@media only screen and (max-width: 600px) {

    /* CSS code for screens smaller than 600px */
    body {
        font-size: 8px;
    }

    .firstscreen h2 {
        font-size: 14px;
        width: auto;
    }

    #canvas {
        width: 200%;

    }

    #game-board img {
        z-index: 12;

    }

}